<div class="card">
    <p-table [columns]="cols" [value]="data" [tableStyle]="{ 'min-width': '50rem',     'margin-bottom': '50px',
    'padding-bottom': '50px' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [ngClass]="{delivered: rowData['inventoryStatus']==='Delivered'}">
                <ng-container *ngFor="let col of columns">

                    <td *ngIf="col.field!=='inventoryStatus';else elseTd">
                        <p *ngIf="col.field!== 'image'; else img">
                            {{ rowData[col.field] }}
                        </p>
                        <ng-template #img>
                            <img style="    max-width: 150px;" [src]="rowData[col.field]" />
                        </ng-template>
                    </td>
                    <ng-template #elseTd>
                        <td [pEditableColumn]="true" pEditableColumnField="inventoryStatus">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown (onChange)="ChangeProductStatus(rowData)" [style]="{'max-width': '130px'}" [options]="optStatus" [(ngModel)]="rowData.inventoryStatus" [showClear]="true" placeholder="Change Status"></p-dropdown>
                                    <!-- <input type="text"  [(ngModel)]="rowData.inventoryStatus"/> -->
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ rowData.inventoryStatus }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>