<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/img/logo.png" alt="logo">
        <span>UsWear</span>
    </a>
    <div class="search-container">
        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
        </p-inputGroup>
    </div>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" >
        <button pButton icon="pi pi-bars"></button>
        <button pButton icon="pi pi-shopping-cart"></button>
    </div>
</div>